<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %> <%- include('../partials/dj-profile-scripts'); %>

    <style>
      table {
        font-family: arial, sans-serif;
        font-size: medium;
        font-weight: normal;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      th {
        position: sticky;
        top: -1px; /* 0px if you don't have a navbar, but something is required */
        background: #ef99be;
      }
    </style>
  </head>

  <body>
    <header class="h-container header-font"><%- include('../partials/header'); %></header>

    <main class="b-container">
      <div style="font-weight: 700; font-size: 30px; color: black; margin-top: 30px; margin-left: 30px">
        <div>
          Here's what we found based on your preferences...
          <a style="text-decoration: none; color: white" href="/pref">
            <button class="username-btn" style="text-wrap: nowrap; margin-top: 20px">Change Preferences</button>
          </a>
        </div>

        <div style="max-height: 690px; overflow-y: scroll">
          <table>
            <tr>
              <th>DJ Name</th>
              <th>Playlist Name</th>
            </tr>
            <% for(var i=0; i < djData.length; i++) { %>
            <tr>
              <td><%= djData[i].name %></td>
              <td><%= djData[i].playlist %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
