<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %> <%-
    include('../partials/dj-profile-scripts'); %>

    <script>
        function validatePref(){
            var prefData = {};

            const msg1 = validateForm('Genre');
            const msg2 = validateForm('Emotion');
            const msg3 = validateForm('Rhythm');

            if (msg1 != "" || msg2 != "" || msg3 != "" ){
                const finalMsg = `${msg1} ${msg2} ${msg3}`.trim()
                window.alert(`Select at least one option for ${finalMsg}`);
                event.preventDefault();
                return;
            }
            
            prefData.genre = [...document.querySelectorAll('#Genre input[type="checkbox"]:checked')].map(checkbox => checkbox.name);
            prefData.emotion = [...document.querySelectorAll('#Emotion input[type="checkbox"]:checked')].map(checkbox => checkbox.name);
            prefData.rhythm = [...document.querySelectorAll('#Rhythm input[type="checkbox"]:checked')].map(checkbox => checkbox.name);
            prefData = JSON.stringify(prefData);

            // console.log(prefData)
            fetch(`/pref/record/${prefData}`, {method: 'POST'})
                .then(response => response.text())
                .then(message => {
                    alert(message);
                });


            window.location.href = `/player`
           
        }

        function validateForm(formName) {
            var form = document.getElementById(formName);
            var checkboxes = form.querySelectorAll('input[type="checkbox"]');
            var isChecked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isChecked = true;
                    return "";
                }
            }

            if (!isChecked) {
                return formName

            }
        }
    </script>
  </head>

  <body>
    <header class="h-container header-font">
      <%- include('../partials/header'); %>
    </header>

    <main class="b-container">
        <div class="prefBox">
            <div style="font-weight: 700; font-size: larger; text-wrap: nowrap; margin: auto;">
                Hello <%=username%>, choose your music preferences
            </div>
            <div style="display:flex; flex-direction: row; text-wrap: nowrap;">
                <form action="/processPref" method="POST" id="Genre" name="Genre" style="margin: 20px;">
                    <h4>What genres?</h4>
                    <div style="display:flex; flex-direction: column; text-wrap: nowrap;">
                        <div>
                            <input type="checkbox" name="rap">
                            <label for="rap">Rap</label>
                        </div>
                        <div>
                            <input type="checkbox" name="pop">
                            <label for="pop">Pop</label>
                        </div>
                        <div>
                            <input type="checkbox"name="rb">
                            <label for="rb">R&B</label>
                        </div>
                    </div>
                </form>
                <form action="/processPref" method="POST" id="Emotion" name="Emotion" style="margin:20px;">
                    <h4>What kind of emotions?</h4>
                    <div style="display:flex; flex-direction: column; text-wrap: nowrap;">
                        <div>
                            <input type="checkbox" name="hype">
                            <label for="hype">Hype</label>
                        </div>
                        <div>
                            <input type="checkbox" name="sad">
                            <label for="sad">Sad</label>
                        </div>
                        <div>
                            <input type="checkbox" name="romance">
                            <label for="romance">Romantic</label>
                        </div>
                    </div>
                </form>
                <form action="/processPref" method="POST" id="Rhythm" name="Rhythm" style="margin:20px;">
                    <h4>What kind of rhythm?</h4>

                    <div style="display:flex; flex-direction: column; text-wrap: nowrap;">
                        <div>
                            <input type="checkbox" name="slow">
                            <label for="slow">Slow tempo</label>
                        </div>
                        <div>
                            <input type="checkbox" name="fast">
                            <label for="fast">Fast tempo</label>
                        </div>
                    </div>
                </form>
            </div>
            <a style="text-decoration: none; color: white;" >
                <button  class="username-btn" type="submit" onclick="validatePref();">Save</button>
            </a>
        </div>
    </main>

    <footer class="f-container"><%- include('../partials/footer'); %></footer>
  </body>
</html>
